/* 폰트 */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    line-height: 1.2em;
}
.nanum-pen {
    font-family: "Nanum Pen Script", cursive;
    font-style: normal;
}
h1 {
    font-weight: 900;
    font-size: 1.28em;
    line-height: 1.3em;
}
h3 {
    font-weight: 900;
    font-size: 1em;
    line-height: 1.1em;
}

/* a 링크 */
a {
    text-decoration: none;
    color: black;
}

/* a:link {
    color: aqua;
}

a:visited {
    color: yellow;
}

a:active {
    color: red;
} */

/* ul li - 옆으로 나란히 */
ul > li{
    /* float 해제 */
    clear: both;
    /* float 부모 */
    overflow: hidden;
}