header nav > ul {
    /* float 의 부모노드 overflow: hidden */
    overflow: hidden;
}
header nav > ul > li {
    /* float - width 제외 - 고정 크기 X, content 내용에 따라 크기 조정 */
    float: left;
}
header nav,
header div.logo{
    /* float - width 제외 - 고정 크기 X, content 내용에 따라 크기 조정 */
    clear: both;
}
header{
    /* position: absolute 자식들의 기준점 */
    position: relative; height: 150px;
}
header .tnb{
    /* position: absolute 배치 */
    position: absolute; right: 0; top: 0;
}
header .bnb{
    /* position: absolute 배치 */
    position: absolute; right: 0; bottom: 0;
}
header .logo{
    /* position: absolute 배치 */
    position: absolute; left: 50px; top: 41px;

    background-color: antiquewhite;
    padding: 10px;
}

/* li-a 링크 padding, background, border */
header a{
    display: inline-block;
    border: 1px solid black;
}
header a:hover{
    background-color: black;
    color: whitesmoke;
}
header li:first-child > a{
    border-radius: 15px 0 0 15px;
}
header li:last-child > a{
    border-radius: 0 15px 15px 0;
}
header .tnb a{
    padding: 5px 10px;
}
header .bnb a{
    padding: 10px 15px;
}