body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    line-height: 1.2em;
}
h1 {
    font-weight: 900;
    font-size: 1.6em;
    line-height: 1.8em;
}
h3 {
    font-weight: 800;
    font-size: 2em;
    line-height: 2.1em;
}

a {
    text-decoration: none;
    color: violet;
}