aside ul > li{
    /* float 해제 */
    clear: both;
    /* float 부모 */
    overflow: hidden;

    padding: 10px;
}
aside #n1{
    float: left;
}
aside ul > li > a > div:first-child{
    /* float 설정 */
    width: 45px; float: left;
    margin-right: 10px;
}
aside ul > li > a > div:last-child{
    /* float 설정 */
    width: 120px; float: left;
}
/* radio 보였다 안보였다 */
aside > label{
    cursor: pointer;
    float: left; width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0 ;
}
aside > label:first-of-type{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px 0 0 0;
}
aside > label:last-of-type{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 15px 0 0;
}
aside nav > ul > li{
    width: 100px; float: left;
}
aside input[type=radio]{
    display: none;
}
aside input[type=radio]:nth-of-type(1):checked
~ div:nth-of-type(1)
{
    display: block;
}
aside input[type=radio]:nth-of-type(1):checked
~ div:nth-of-type(2)
{
    display: none;
}
aside input[type=radio]:nth-of-type(1):checked
~ label:first-of-type{
    background-color: whitesmoke;
    color: violet;
}
aside input[type=radio]:nth-of-type(2):checked
~ div:nth-of-type(2)
{
    display: block;
}
aside input[type=radio]:nth-of-type(2):checked
~ div:nth-of-type(1)
{
    display: none;
}
aside input[type=radio]:nth-of-type(2):checked
~ label:last-of-type{
    background-color: whitesmoke;
    color: black;
}
/* border - 중복선 제거 */
aside ul > li{
    border: 1px solid black;
}
aside ul > li:not(:last-child){
    border-bottom: 0;
}