section article{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}
section article.article-1 div.flex-3{
    display: flex;
    /* grid는 여백 남음 */
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 50px;
}
section article.article-1 div.flex-3 > div{
    border: 1px solid black;
    box-sizing: border-box;
}
section article.article-1 div.flex-3.inputform{
    flex-wrap: wrap;
}
section article.article-1 div.flex-3.inputform > div{
    /* flex 자식의 최대 크기 */
    width: 45%;
}
section article.article-2 div.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 10px;
    column-gap: 20px;
}
section article.article-2 div.grid-3:first-of-type{
    margin-bottom: 5px;
}
section article.article-2 div.grid-3 > div{
    margin: 5px 10px;
    border: 1px solid black;
}

section .flex-card-item {
    display: flex;
    flex-direction: column;
}
section .flex-card-item > .flex-icons {
    display: flex;
    justify-content: space-between;
}
section .fullsizeimg{
    /* 부모 크기 기준 */
    width: 100%;
}
section input:focus{
    height: 150px;
}
section a:hover::after{
    content: '메시지';
    color: black;
    font-size: 18pt;

    position: absolute; top: 0; left: 0;
}