.wrap{
    overflow: scroll;
}
/*  */
.wrap-header{
    background-color: aliceblue;
}

/*  */
.wrap-footer{
    background-color: beige;
    /* float 배치 해제 */
    clear: both;
}

/*  */
.wrap-main{
    background-color: aquamarine;
    /* 중앙 배치 */
    width: 100vw; margin: 0 auto;
    /* float - 부모 height를 위해 */
    overflow: hidden;

    /* background-color 빈 공간 생김
    margin-top: 10px;
    margin-bottom: 10px; */
    /* background 칠해지는 공간 */
    padding: 10px;
}
.wrap-main > section{
    /* float 왼쪽 배치 */
    width: calc(100vw - 210px); float: left;
    margin-right: 10px;
}
.wrap-main > aside{
    /* float 왼쪽 배치 */
    width: 200px - 14px; float: left;
}