section {
    color: aliceblue;
    padding: 0 10px;
}
section article.article-1 > div.grid-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}
section article > div > div {
    width: auto;
    border: 1px solid wheat;
}
section article.article-2 > div.grid-2 {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 10px;
}