<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화면설계-순서</title>
    <!-- [1] 해상도 - 최적 해상도 1250px 결정(최대/최소 지원 범위) -->
    <!-- [2] content 영역 960px 80vw 90%, 배치(중앙, 왼쪽) -->
    <!-- [3] reset.css 검토 - 폴더 경로 -->
    <link href="/css/reset.css" rel="stylesheet">
    <!-- TODO js jQuery -->
    <!-- [4] project명 또는 core.css / projectname.css 폴더 경로 - bootstrap, template 등으로 대체 -->
    <!-- [5] 기본 색상 10~15개 정도 class 미리 만들어두기 -->
    <!-- [6] 폰트 family 크기 5~7개 정도 class 미리 만들어두기 -->
    <!-- [7] button 3개 class 미리 만들어두기 -->
    <!-- [8] a 모양 미리 만들어두기(link/visited 등) -->
    <link href="/css/webpage_core.css" rel="stylesheet">
    <!-- body layout 영역 - 화면설계서 -->
    <link href="/css/webpage_layout.css" rel="stylesheet">
    <!-- header 영역 style -->
    <link href="/css/webpage_header.css" rel="stylesheet">
    <!-- section 영역 style -->
    <link href="/css/webpage_section.css" rel="stylesheet">
    <!-- aside 영역 style -->
    <link href="/css/webpage_aside.css" rel="stylesheet">
    <!-- footer 영역 style -->
    <link href="/css/webpage_footer.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="wrap-header">
            <header>
                <nav class="tnb">
                    <ul>
                        <li><a href="#꼭여기">Web1</a></li>
                        <li><a href="#b">Mobile</a></li>
                        <li><a href="#c">Game</a></li>
                        <li><a href="#d">Simulation</a></li>
                        <li><a href="#e">Data</a></li>
                    </ul>
                </nav>
                <nav class="bnb">
                    <ul>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">Javascript</a></li>
                        <li><a href="#">jQuery</a></li>
                    </ul>
                </nav>
                <div class="logo">
                    <h1>Rint Development</h1>
                    <h3>HTML5 + CSS Basic</h3>
                </div>
            </header>
        </div>
        <div class="wrap-main">
            <section>
                <article>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </article>
                <article>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </article>
            </section>
            <aside>
            <input type="radio" name="n1" id="first" checked="checked">
            <label for="first">First</label>
            <input type="radio" name="n1" id="second">
            <label for="second">Second</label>
                <div class="tab-item">
                    <ul>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <span>HTML5 Canvas</span>
                                    <span>2024-03-13</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <span>HTML5 Canvas</span>
                                    <span>2024-03-13</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <span>HTML5 Canvas</span>
                                    <span>2024-03-13</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <span>HTML5 Canvas</span>
                                    <span>2024-03-13</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-item">
                    <ul>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <span>HTML5 CSS</span>
                                    <span>2024-03-13</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <span>HTML5 CSS</span>
                                    <span>2024-03-13</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <span>HTML5 CSS</span>
                                    <span>2024-03-13</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <span>HTML5 CSS</span>
                                    <span>2024-03-13</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="wrap-footer">
            <footer>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </footer>
        </div>
    </div>
</body>
</html>