<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/myweb2.css" rel="stylesheet">
    <title>웹 페이지2</title>
</head>
<body>
    <div class="wrap-header">
        <header>
            <nav class="tnb">
                <ul>
                    <li><a href="#">항목</a></li>
                    <li><a href="#">항목</a></li>
                    <li><a href="#">항목</a></li>
                    <li><a href="#">항목</a></li>
                    <li><a href="#">항목</a></li>
                </ul>
            </nav>
            <nav class="bnb">
                <ul>
                    <li><a href="#">항목</a></li>
                    <li><a href="#">항목</a></li>
                    <li><a href="#">항목</a></li>
                    <li><a href="#">항목</a></li>
                    <li><a href="#">항목</a></li>
                </ul>
            </nav>
            <div class="logo">
                <h1>Rint Development</h1>
                <h3>HTML5 +</h3>
            </div>
        </header>
    </div>
    <div class="wrap-main">
        <section>
            <article>
                <h1 class="nanum-pen">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet rhoncus nulla. In hac habitasse platea dictumst. Praesent consectetur ex nec iaculis elementum. Duis a facilisis lectus, a rutrum eros. Nunc in enim pharetra ligula volutpat suscipit vel eget tellus. Pellentesque quis pretium lorem. Nam vel lectus blandit, porttitor dolor in, congue metus. Phasellus nec turpis bibendum, gravida augue non, suscipit dolor. Suspendisse nec facilisis augue.
                </p>
            </article>
            <article>
                <h1 class="nanum-pen">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet rhoncus nulla. In hac habitasse platea dictumst. Praesent consectetur ex nec iaculis elementum. Duis a facilisis lectus, a rutrum eros. Nunc in enim pharetra ligula volutpat suscipit vel eget tellus. Pellentesque quis pretium lorem. Nam vel lectus blandit, porttitor dolor in, congue metus. Phasellus nec turpis bibendum, gravida augue non, suscipit dolor. Suspendisse nec facilisis augue.
                </p>
            </article>
            <article>
                <h1 class="nanum-pen">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet rhoncus nulla. In hac habitasse platea dictumst. Praesent consectetur ex nec iaculis elementum. Duis a facilisis lectus, a rutrum eros. Nunc in enim pharetra ligula volutpat suscipit vel eget tellus. Pellentesque quis pretium lorem. Nam vel lectus blandit, porttitor dolor in, congue metus. Phasellus nec turpis bibendum, gravida augue non, suscipit dolor. Suspendisse nec facilisis augue.
                </p>
            </article>
            <article>
                <h1 class="nanum-pen">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet rhoncus nulla. In hac habitasse platea dictumst. Praesent consectetur ex nec iaculis elementum. Duis a facilisis lectus, a rutrum eros. Nunc in enim pharetra ligula volutpat suscipit vel eget tellus. Pellentesque quis pretium lorem. Nam vel lectus blandit, porttitor dolor in, congue metus. Phasellus nec turpis bibendum, gravida augue non, suscipit dolor. Suspendisse nec facilisis augue.
                </p>
            </article>
            <article>
                <h1 class="nanum-pen">Main Article</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet rhoncus nulla. In hac habitasse platea dictumst. Praesent consectetur ex nec iaculis elementum. Duis a facilisis lectus, a rutrum eros. Nunc in enim pharetra ligula volutpat suscipit vel eget tellus. Pellentesque quis pretium lorem. Nam vel lectus blandit, porttitor dolor in, congue metus. Phasellus nec turpis bibendum, gravida augue non, suscipit dolor. Suspendisse nec facilisis augue.
                </p>
            </article>
        </section>
        <aside>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet rhoncus nulla. In hac habitasse platea dictumst. Praesent consectetur ex nec iaculis elementum. Duis a facilisis lectus, a rutrum eros. Nunc in enim pharetra ligula volutpat suscipit vel eget tellus. Pellentesque quis pretium lorem. Nam vel lectus blandit, porttitor dolor in, congue metus. Phasellus nec turpis bibendum, gravida augue non, suscipit dolor. Suspendisse nec facilisis augue.
        </aside>
    </div>
    <footer class="wrap-footer">
        <div>
            slide images
        </div>
        <h3>HTML5</h3>
        <address>Website Layout Basic</address>
    </footer>
</body>
</html>