<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화면설계-순서</title>
    <!-- [1] 해상도 - 최적 해상도 1250px 결정(최대/최소 지원 범위) -->
    <!-- [2] content 영역 960px 80vw 90%, 배치(중앙, 왼쪽) -->
    <!-- [3] reset.css 폴더 경로 -->

    <!-- TODO js jQuery -->
    <!-- [4] project명 또는 core.css 폴더 경로 - bootstrap, template 등으로 대체 -->
    <!-- [5] 기본 색상 10~15개 정도 class 미리 만들어두기 -->
    <!-- [6] 폰트 크기 5~7개 정도 class 미리 만들어두기 -->
    <!-- [7] button 3개 class 미리 만들어두기 -->
    <!-- [8] a 모양 미리 만들어두기 -->
</head>
<body>
    
</body>
</html>