<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>20240311_02</title>
    <!-- layout - 00 필수! reset.css 걸어주고 시작-->
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/mydiv_02.css" rel="stylesheet">
    <style>
        /* 
        span {
            display: block;
            width: 200px;
            height: 300px;
            padding: 10px;
            margin: 20px;
            border: 1px solid black;
        }
        
        div {
            display: inline-block;
            width: 200px;
            height: 300px;
            padding: 10px;
            margin: 20px;
            border: 1px solid black;
        }
         */
    </style>
</head>

<body>
    <span>inline임시테스트용</span>
    <div>block임시테스트용</div>
    <div class="wrap">
        <header class="wrap-main">
            <h1>제목: 회사명, 로고, 로그인</h>
        </header>
        <div class="wrap-main wrap-nav">
            <nav>
                <ul>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                </ul>
            </nav>
        </div>
        <div class="wrap-main wrap-content">
            <section>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis sollicitudin pulvinar.
                    Integer ornare diam non lacus efficitur, eu sollicitudin purus tincidunt. In sagittis, nunc id
                    laoreet tincidunt, nisi enim ornare ex, quis luctus ante ante quis elit. Vestibulum sollicitudin eu
                    dui vitae posuere. Mauris feugiat efficitur vehicula. Nam mollis augue ut massa posuere, ac
                    hendrerit tellus pharetra. Duis faucibus tempus justo, ac sagittis ipsum accumsan eget. Sed
                    tristique sit amet orci rhoncus aliquet. Nulla sagittis, ipsum at dapibus accumsan, augue nisl
                    rhoncus purus, eget tincidunt velit elit ut mi. Sed at ipsum ante. Morbi ac dui elementum, maximus
                    velit quis, convallis urna. Maecenas lacus lectus, elementum iaculis hendrerit in, laoreet id nisl.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </article>
                <article>
                    Aliquam scelerisque convallis enim, eu venenatis purus suscipit ac. Integer vel rhoncus neque.
                    Aliquam et massa eget arcu dictum ultrices. Proin sed lorem id mauris pulvinar congue eget vel urna.
                    Morbi lacinia nulla felis, vel blandit eros bibendum vitae. In eu magna ac ante lobortis
                    ullamcorper. Donec hendrerit, ex vitae viverra tempus, nunc elit pharetra erat, non fermentum mauris
                    augue sodales ex. Nullam vehicula nulla non pharetra fringilla. Duis quis luctus ipsum, id luctus
                    est. Phasellus scelerisque mauris vitae vulputate maximus. Fusce commodo risus eu tortor euismod, in
                    sagittis quam faucibus. Quisque vehicula quam cursus, dapibus felis sodales, tempor lacus. Duis at
                    dictum neque. Aliquam at felis sit amet odio convallis volutpat. Interdum et malesuada fames ac ante
                    ipsum primis in faucibus. Morbi mattis mauris facilisis, consequat est et, gravida orci.
                </article>
                <article>
                    Mauris blandit diam id euismod ultricies. Curabitur feugiat pharetra tellus sed scelerisque.
                    Vestibulum venenatis, ex eu fringilla hendrerit, nulla dui vestibulum neque, id ullamcorper nibh
                    sapien id quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet
                    lectus ut aliquam. Nullam vehicula consectetur porttitor. Curabitur tincidunt pulvinar cursus.
                </article>
            </section>
            <aside>
                <div>
                    광고, 최근 본 상품, 바로가기링크
                </div>
                <nav>
                    <ul>
                        <li> 메뉴1 </li>
                        <li> 메뉴1 </li>
                        <li> 메뉴1 </li>
                    </ul>
                </nav>
            </aside>
        </div>
        <footer class="wrap-main">
            <address>서울시 강남구 테헤란로</address>
            <div>저작권</div>
            <nav>
                <ul>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>