<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대충 해보는 페이지</title>
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/webpage2_core.css" rel="stylesheet">
    <link href="/css/webpage2_layout.css" rel="stylesheet">
    <link href="/css/webpage2_header.css" rel="stylesheet">
    <link href="/css/webpage2_section.css" rel="stylesheet">
    <link href="/css/webpage2_aside.css" rel="stylesheet">
    <link href="/css/webpage2_footer.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="wrap-header">
            <header>
                <nav class="tnb">
                    <ul>
                        <li><a href="#">가</a></li>
                        <li><a href="#">나</a></li>
                        <li><a href="#">다</a></li>
                        <li><a href="#">라</a></li>
                        <li><a href="#">마</a></li>
                    </ul>
                </nav>
                <nav class="bnb">
                    <ul>
                        <li><a href="#">A</a></li>
                        <li><a href="#">B</a></li>
                        <li><a href="#">C</a></li>
                        <li><a href="#">D</a></li>
                        <li><a href="#">E</a></li>
                    </ul>
                </nav>
                <div class="logo">
                    <h1>logo</h1>
                </div>
            </header>
        </div>
        <div class="wrap-main">
            <section>
                <article class="article-1">
                    <h1>Title</h1>
                    <div class="grid-1">
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                    </div>
                </article><hr>
                <article class="article-2">
                    <h1>Title</h1>
                    <div class="grid-2">
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore sapiente omnis itaque tempora quo quam, doloribus sit distinctio consequatur cumque culpa natus architecto veritatis, alias veniam eligendi explicabo!
                        </div>
                    </div>
                </article>
            </section>
            <aside>
                <input type="radio" name="tab" id="page1">
                <label for="page1">First</label>
                <input type="radio" name="tab" id="page2">
                <label for="page2">Second</label>
                <div>
                    <ul>
                        <li>
                            <a>
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <div>
                                        11111111111111
                                    </div>
                                    <div>
                                        2024-03-14
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <div>
                                        2222222222222
                                    </div>
                                    <div>
                                        2024-03-14
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <div>
                                        33333333333
                                    </div>
                                    <div>
                                        2024-03-14
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <div>
                                        44444444444444
                                    </div>
                                    <div>
                                        2024-03-14
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <a>
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <div>
                                        11111111111111
                                    </div>
                                    <div>
                                        2024-03-14
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <div>
                                        2222222222222
                                    </div>
                                    <div>
                                        2024-03-14
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <div>
                                        33333333333
                                    </div>
                                    <div>
                                        2024-03-14
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/000.png&text=+" alt="45x45 dummy image">
                                </div>
                                <div>
                                    <div>
                                        44444444444444
                                    </div>
                                    <div>
                                        2024-03-14
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="wrap-footer">
            <footer>
                로렘입숨
            </footer>
        </div>
    </div>
</body>
</html>