/*  */
.wrap-header > header{
    margin: 0 auto; width: 100vw; height: 20vh;
}

/*  */
.wrap-footer{
    clear: both;
    margin: 0 auto; width: 100vw;
}
.wrap-footer > footer{
    margin: 0 auto; width: 100vw; height: 15vh;
    background-color: antiquewhite;
}

/*  */
.wrap-main{
    clear: both;
    margin: 0 auto; width: 100vw;
}
.wrap-main > aside{
    float: left; width: 20vw;
    background-color: gainsboro;
}
.wrap-main > section{
    float: right; width: 80vw;
    background-color: darkgrey;
}