/*  */
.wrap-header > header{
    margin: 0 auto; width: 960px;
}

/*  */
.wrap-footer{
    clear: both;
    margin: 0 auto; width: 960px;
}
.wrap-footer > footer{
    margin: 0 auto; width: 960px; 
    background-color: antiquewhite;
}

/*  */
.wrap-main{
    clear: both;
    margin: 0 auto; width: 960px;
    overflow: hidden;
}
.wrap-main > aside{
    float: left; width: 200px;
    background-color: gainsboro;
}
.wrap-main > section{
    float: right; width: 760px;
    background-color: darkgrey;
}